model:
  base_learning_rate: 1.0e-06
  target: ldm.models.diffusion.ddpm.LatentDiffusion
  params:
    reg_weight: 0.0
    linear_start: 0.00085
    linear_end: 0.0120
    num_timesteps_cond: 1
    log_every_t: 200
    timesteps: 1000
    first_stage_key: image
    cond_stage_key: caption
    image_size: 64
    channels: 4
    cond_stage_trainable: true   # Note: different from the one we trained before
    conditioning_key: crossattn
    monitor: val/loss_simple_ema
    scale_factor: 0.18215
    use_ema: False
    embedding_reg_weight: 0.0
    unfreeze_model: True
    model_lr: 1.0e-6
    scale_recon_loss: 1.0

    personalization_config:
      target: ldm.modules.embedding_manager.EmbeddingManager
      params:
        placeholder_strings: ["*"]
        initializer_words: ["sculpture"]
        per_image_tokens: false
        num_vectors_per_token: 1
        progressive_words: False

    unet_config:
      target: ldm.modules.diffusionmodules.openaimodel.UNetModelPatch
      params:
        image_size: 32 # unused
        in_channels: 4
        out_channels: 4
        model_channels: 320
        attention_resolutions: [ 4, 2, 1 ]
        num_res_blocks: 2
        channel_mult: [ 1, 2, 4, 4 ]
        num_heads: 8
        use_spatial_transformer: True
        transformer_depth: 1
        context_dim: 768
        use_checkpoint: True
        legacy: False
        padding_idx: 0
        init_size: 128 
        div_half_dim: false
        center_shift: 100
        interpolation_mode: "bilinear"

    first_stage_config:
      target: ldm.models.autoencoder.AutoencoderKL
      params:
        embed_dim: 4
        monitor: val/rec_loss
        ddconfig:
          double_z: true
          z_channels: 4
          resolution: 512
          in_channels: 3
          out_ch: 3
          ch: 128
          ch_mult:
          - 1
          - 2
          - 4
          - 4
          num_res_blocks: 2
          attn_resolutions: []
          dropout: 0.0
        lossconfig:
          target: torch.nn.Identity

    cond_stage_config:
      target: ldm.modules.encoders.modules.FrozenCLIPEmbedder

data:
  target: main.DataModuleFromConfig
  params:
    batch_size: 1
    num_workers: 2
    wrap: false
    train:
      target: ldm.data.personalized.SinImageHighResDataset
      params:
        size: 512
        high_resolution: 1024
        set: train
        per_image_tokens: false
        repeats: 100
        min_crop_frac: 0.1
        max_crop_frac: 1.0
        rec_prob: 1.
        latent_scale: 8
    reg:
      target: ldm.data.personalized.SinImageHighResDataset
      params:
        size: 512
        high_resolution: 1024
        set: train
        per_image_tokens: false
        repeats: 1
        min_crop_frac: 0.1
        max_crop_frac: 1.0
        rec_prob: 0.
        latent_scale: 8
        
    validation:
      target: ldm.data.personalized.SinImageHighResDataset
      params:
        size: 512
        high_resolution: 1024
        set: val
        per_image_tokens: false
        repeats: 10
        min_crop_frac: 0.2
        max_crop_frac: 1.0
        rec_prob: 0.25
        latent_scale: 8

lightning:
  modelcheckpoint:
    params:
      every_n_train_steps: 7000
  callbacks:
    image_logger:
      target: main.ImageLogger
      params:
        batch_frequency: 2000
        max_images: 8
        increase_log_steps: False

  trainer:
    benchmark: True
    max_steps: 10000
